.construction{
    text-align: center;
font: 800 50px/61px sans-serif;
letter-spacing: 2.5px;
color: #F29999;
opacity: 1;
margin-top: 20rem;
margin-bottom: 12rem;
}

.coming_soon{
    text-align: center;
font: 800 30px/37px sans-serif;
letter-spacing: 1.5px;
color: #E8E8E8;
opacity: 1;
margin-bottom: 14.6rem;
}