.construction{
    text-align: center;
font: 800 5rem/6.1rem sans-serif;
letter-spacing: 0.25rem;
color: #F29999;
opacity: 1;
margin-top: 20rem;
margin-bottom: 12rem;
}

.coming_soon{
    text-align: center;
font: 800 3rem/3.7rem sans-serif;
letter-spacing: 0.15rem;
color: #E8E8E8;
opacity: 1;
margin-bottom: 14.6rem;
}