.contact_line{
    font: 800 50px/61px sans-serif;
    margin-bottom: 7rem;
    position: relative;
    top: -4rem;
    left: 34rem;
    width: 100rem;
letter-spacing: 2.5px;
color: transparent;
opacity: 1;
}
.contact_line:before{
    content: attr(data-pink);
    font: 800 50px/61px sans-serif;
    width: 100%;
    position: absolute;
    text-align: left;
    color: #F29999;
    letter-spacing: 2.5px;
    opacity: 1;
    transform: translateX(0);
    transition: 0.5s;
    pointer-events: none;

}

.contact_line:after{
    content: attr(data-blue);
    font: 800 50px/61px sans-serif;
    position: absolute;
    text-align: center;
    color: #6650F2;
    letter-spacing: 2.5px;
    opacity: 0;
    transform: translateX(-10rem);
    transition: 0.5s;
    pointer-events: none;

}
.contact_line:hover:after{
    transform: translateX(0rem);
    opacity: 1;
} 


.form_contact{
    text-align: center;
}
.formContainer{
    margin-bottom: 15rem;
}

.toptwoinputs{
    width: 113rem;
    margin: 0 auto;
    display:flex;
    margin-bottom: 6rem;
    justify-content: space-between;
    padding: 0;
}

.smallinput{
    padding-left: 3rem;
    height: 8rem;
    width: 50rem;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.7);
border-radius: 15px;
opacity: 1;
font-size: 3rem;
font-family: sans-serif;
letter-spacing: 2.4px;
color: #E8E8E8;
}

.smallinput:hover{
    border: 2px solid rgba(255,255,255,1);
}

.biginput{
    height: 34rem;
    width: 113.5rem;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.7);
border-radius: 15px;
opacity: 1;
font-size: 3rem;
font-family: sans-serif;
box-sizing: border-box;
padding-top: 3rem;
padding-left: 3rem;
letter-spacing: 2.4px;
color: #E8E8E8;
overflow-wrap: break-word;
}
.biginput:hover{
    border: 2px solid rgba(255,255,255,1);
}
.smallinput::-webkit-input-placeholder { /* Edge */
    font-size: 3rem;
font-family: sans-serif;
letter-spacing: 2.4px;
color: #E8E8E8;
opacity: 0.6;
  }
  
.smallinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: 2.4px;
    color: #E8E8E8;
    opacity: 0.6;
  }
  
.smallinput::placeholder {
    font-size: 3rem;
font-family: sans-serif;
letter-spacing: 2.4px;
color: #E8E8E8;
opacity: 0.6;
  }

.biginput::-webkit-input-placeholder { /* Edge */
    font-size: 3rem;
font-family: sans-serif;
letter-spacing: 2.4px;
color: #E8E8E8;
opacity: 0.6;
  }
  
.biginput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: 2.4px;
    color: #E8E8E8;
    opacity: 0.6;
  }
  
.biginput::placeholder {
    font-size: 3rem;
font-family: sans-serif;
letter-spacing: 2.4px;
color: #E8E8E8;
opacity: 0.6;
  }

.smallinput:focus{
    outline: none;
}

.biginput:focus{
    outline: none;
}

.submit_button{
    text-align: center;
    display: table-cell;
    width: 28rem;
    height: 8rem;
    background: #6650F2 0% 0% no-repeat padding-box;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2.4px;
    color: #E8E8E8;
    border-radius: 15px;
    border:0;
    opacity: 1;
    transition:all 0.4s;
}


.button_container{
    position: relative;
    left: 40rem;
    margin: 0px;
    top: 6rem;
    display: inline-block;
   transition-duration: 0.4s;

}

.button_container:hover{
    position: relative;
    left: 40rem;
    top: 6rem;
    padding:5px;
    display: inline-block;
   border: 2px solid #00FF13;
   border-radius: 15px;
}


@keyframes example {
    0% {
        width:0%;
          left:100%;
      }
      100% {
         left:0%;
           width:100%;
      }
  }
.sent_button{
    display: table-cell;
    width: 28rem;
    height: 8rem;
    background: #6650F2 0% 0% no-repeat padding-box;
    font-family: sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2.4px;
    color: #E8E8E8;
    border-radius: 15px;
    border:0;
    opacity: 1;
    transition:all 0.4s;
    outline: none;
}
.sent_button::after{
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    width:0;
    height: 100%;
    background: #51D53D 0% 0% no-repeat padding-box;
    border-radius: 15px;
    animation-fill-mode: forwards;
    animation-name: example;
    animation-duration: 0.5s;
}
 
.sent{
    position: relative;
    z-index: 2;
}