.grid_container{
    width: 185.4rem;
    height:100%;
}
.days_header{
    text-align: center;
    font: 500 150px/180px Bison;
    color:white;  
    margin-top: 10rem;
    line-height: 6rem;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.days_header:hover{
    color: #F29999;
}