.footer_container{
    background-color: #E8E8E8;
    width: 100%;
}

.left_line{
    width: 42rem;
    border: 0.1rem solid black;
}
.left_container{
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    padding-top: 15.2rem;
    width: 42rem;

}

.Go_to{

    font: 200 2.5rem/3rem sans-serif;
    letter-spacing: 0.2rem;
    color: #050503;
    opacity: 1;
    padding:0;
    margin: 0;
}

.footer_links{
    margin-top: 0.1rem;
    text-align: left;
    text-decoration: none;
    font: 200 2rem/2.5rem sans-serif;
letter-spacing: 0.2rem;
color: #191B40;
opacity: 0.4;
transition: 0.4s;
padding-bottom: 0.7rem;
}
.footer_links:hover{
    opacity: 1;
}

.right_line{
    width: 100%;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    position: relative;
    left: 0rem;
}
.right_container{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 50.2rem;
    position: relative;
    top:-35.2rem;
    width: 43rem;
    margin-bottom: -40rem;
    left: 130rem;
    margin-left: 0rem;


}
.Go_to_right{
    font: 200 2.5rem/3rem sans-serif;
    letter-spacing: 0.2rem;
    color: #050503;
    opacity: 1;
    padding:0;
    padding-top: 19rem;
    padding-right: 0;
    margin: 0;
}

.Go_to_mail{

    font: 200 2.5rem/3rem sans-serif;
    letter-spacing: 0.2rem;
    color: #050503;
    opacity: 1;
    padding:0;
    padding-right: 0;
    margin: 0;
}

.last_line_container{
    padding-bottom: 2rem;
}

.copyright{
    position: relative;
    left: 20rem;
    padding: 0;
    width: 0.7vw;
    margin: 0;;
    bottom: 4rem;
}

.copyright_text{
    position: relative;
    bottom: 0rem;
    left: 20.5rem;
    bottom: 4rem;
    width: 10rem;
    text-align: left;
font: 500 1.8rem/2.4rem sans-serif;
letter-spacing: 0.1rem;
color: #191B40;
opacity: 0.7;
margin: 0;
padding: 0;
}

.thanks{
    position: relative;
    left: 35rem;
    bottom: 4rem;
    text-align: left;
font: 700 2rem/3rem sans-serif;
letter-spacing: 0.2rem;
opacity: 1;
color: #191B40;
}
.thanks_blue{
   color:#6650F2;
   text-decoration: none;
}
.thanks_blue:hover{
    text-decoration-line: underline;
}