@font-face{
    font-family: 'bisonbold';
    src:url('/src/fonts/bisonbold.eot');
    src:url('/src/fonts/bisonbold.eot') format('embedded-opentype'),
        url('/src/fonts/bison-boldpersonaluse-webfont.woff2') format('woff2'),
        url('/src/fonts/bisonbold.ttf') format('truetype'),
        url('/src/fonts/Bison-Bold.svg') format('svg')
        url('/src/fonts/bison-boldpersonaluse-webfont.woff') format('woff'),
        

}
.header {
    max-width: 100%;
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #050503 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 50;
    display:flex;
    justify-content: space-between;
}
.current{
    text-align: left;
    letter-spacing: 0px;
    color: #F29999;
    opacity: 1;
}
.name{
    font-family:Bison, sans-serif;
    font-size: $xl-size;
    flex-grow: 7;
    font-weight: 200;
    margin-top: $l-size;
    margin-left: 10rem;
    color: #6650F2;
    

}

.link{
    text-align: left;
    margin-right: 5rem;
    margin-top: $xl-size;
    font-size: 2rem;
    font-family:sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    flex-grow: 0;
    cursor: pointer;
}

.link:hover{
    opacity: 1;
}

.link__last{
    text-align: left;
    margin-right: 15rem;
    margin-top: $xl-size;
    font-size: 2rem;
    font-family:sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    flex-grow: 0;
    cursor: pointer;
}
.link__last:hover{
    opacity: 1;
}
.name{
    margin-top: $l-size;
}
