.face_img{
    position: relative;
    left: 25rem;
    top:rem;
    margin-left:0;
    width: 60rem;
    height: auto;
    margin-bottom: -20rem;
}
.introduct{
    margin-top: 0rem;
}
.pagetext{
    margin-right: 25rem;
    position: relative;
    width: 48%;
    top:-15rem;
    text-align: right;
    margin-left: 85rem;
    margin-bottom: -40rem;
}

.name_intro{
    font: Bold 2rem/2.4rem Sans-serif;
    letter-spacing: .6rem;
    color: #EBEEF2;
    opacity: 0.7;
}

.intro_pink{
    margin-bottom: 0rem;
    margin-top: 0;
    font: Bold 5rem/6.1rem Sans-serif;
    letter-spacing: 0px;
    color: #F29999;
    opacity: 1;
}

.intro_text{
    text-align: right;
    font-family: sans-serif;
    font-size: 2rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-left: 17rem;
    margin-top: 4rem;;
    margin-bottom: 0;
}