.work_header {
    font: 500 15rem/18rem bisonbold;
    letter-spacing: 0rem;
    color: #6650f2;
    opacity: 1;
    left: 12rem;
    width: 60rem;
    position: relative;
    margin-bottom: 15rem;
}

.work_container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.work_link {
    font: 500 15rem/18rem bisonbold;
    color: white;
    text-decoration: none;
    line-height: 6rem;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.work_link:hover {
    color: #f29999;
}
.work_small {
    font-size: 6rem;
    margin-top: 0;
    padding-top: 0;
}
