html {
  font-size: 62.5%;
  height:100%;
  width: 100%;
  background-color: black;
}

body {
  font-family: Bison,sans-serif;
  font-size: $m-size;
  color: white;
  max-width: 192rem;
  min-width: 162rem;
  margin: 0  auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
