html {
  font-size: 62.5%;
  background-color: black;
}

body {
  font-family: Bison,sans-serif;
  font-size: $m-size;
  color: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
