html {
  font-size: 0.5vw;
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  font-family: bisonbold, sans-serif;
  font-size: $m-size;
  color: white;

  max-width: 190rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
